
body {
    display:flex;
    flex-direction:column;
    line-height:2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color:darkslategray;
    width: 100%;
}

header {
    display:flex; 
    height: 100px;
    width: 100%;
    background-color: gray; 
}

header h1 {
    height: 75px;
    width: 375px;
    background-color: var (--purple);
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 0 0 0 30px;
    margin-top: 10px;
    border-radius: 0 5px 5px 0;
}

header nav {
    display:inline;
    font-size: 16px;
    margin: 250px 15px 0 500px;
}

header a {
    color:white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 0 20px 20px 20px;

}

.subtitle {
    display: flex;
    background-image: url(../images/pexels-pixabay-220072.jpg);
    height: 200px;
    width: 100%;
    
}

.subtitle h2 {
    position: absolute;
    right: 0px;
    height: 75px;
    width: 500px;
    justify-content: flex-end;
    background-color: deeppink;
    color: white;
    font-size: 18px;
    font-weight: bold;
    justify-content: end;
    border-radius: 5px 0 0 5px;
    padding: 10px 10px;
    margin: 60px 0;
    line-height: 1.5;
}

img {
    height:200px;
    width;200px;
    padding: 0 0 0 30px;
}

.nav-aside {
    display:flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 12%;
}

.small-nav-aside{
    height: 300px;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
    border-right: 5px solid deeppink;
    margin-top: 15px;
}

.big-nav-aside {
    height: 900px;
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
    border-right: 5px solid deeppink;
    margin-top: 15px;
}


.about-me p {
    font-size: 24px;
    font-weight:bold;
    text-align: left;
    width: 100%;
}


.container-single {
    display: flex;
    flex: 1 0 75%;
    flex-wrap: nowrap;
    justify-content:flex-end;
    position: relative;
    top: -1350px;
    left: 300px;
    width: 100%;
}

.about-me {
    font-size: 24px;
    line-height: 2;
    padding: 0 300px 0 0; 
    margin: 4%;

}

.main {
    display:flex;
}

.card-boxes {
    display:flex;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    height: 400px;
}

.contact {
    display: flex;
    justify-content:space-around;
    position: relative;
    top:150px;
      
}

.card-big {
    background-image: url(../images/pexels-pixabay-220072.jpg);
    position: relative;
    top: 70px;
    height: 400px;
    border: 10px solid deeppink;
    margin: 4%;

}

.card-big h2 {
    position: absolute;
    left: 0px;
    height: 75px;
    width: 300px;
    justify-content: flex-end;
    background-color: deeppink;
    color: white;
    font-size: 36px;
    font-weight: bold;
    justify-content: end;
    border-radius: 0 5px 5px 0;
    padding: 0px 10px 3px 40px;
    margin: 250px 0;
}

.card-big h3 {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.card-small {
    background-image: url(../images/pexels-pixabay-220072.jpg);
    height: 150px;
    width: 40%;
    border: 10px solid deeppink;

}

.card-small h2 {
    position: relative;
    top:60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: deeppink;
    margin: 0 300px 0 0;
    padding: 0 0 0 40px;
    border-radius: 0 5px 5px 0
}

.card-small h3 {
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 10px 3px 40px;
    margin: 57px 0;

}

.contact-content {
    margin: 0 0 50px 0
}

footer {
    text-align: center;
}

/* Below is all of the code I wrote/tried to work with prior to my tutoring session with Dru Sanchez. Prior to our conversation about flexbox best practices, I was trying to manually place all of the smaller boxes on the page, which was not ideal. Saved here for posterity and to remind myself not to overthink it in the future. */

/* .container-single {  */
    display: flex;
    flex: 1 0 60%;
    flex-wrap: nowrap;
    justify-content:flex-end;
    position: relative;
    top: -1350px;
    left: 300px;
    width: 100%;
}



/* .card-top-left { */
    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
    background-image: url(../images/pexels-pixabay-220072.jpg);
    height: 150px;
    width: 300px;
    border: 10px solid deeppink;
}

/* .card-top-left h2 { */
    position: absolute;
    left: 0px;
    bottom: -200px;
    height: 30px;
    width: 150px;
    justify-content: flex-end;
    background-color: deeppink;
    color: white;
    font-size: 14px;
    font-weight: bold;
    justify-content: end;
    border-radius: 0 5px 5px 0;
    padding: 0px 10px 3px 40px;
    margin: 250px 0;
}



